* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    color: whitesmoke;
    padding: 10px;
    z-index: 1000;
}

.header .logo {
    font-size: 1.5em;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 150px;
    background-color: #ffe600;
    padding-top: 60px; /* Offset for header height */
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: royalblue;
    color: white;
    transition: 0.5s ease-in-out;
}

.content {
    margin-left: 150px; /* Offset for sidebar width */
    padding: 20px;
    flex: 1;
}

h2 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 3em;
    border: 1px solid salmon;
    text-align: center;
}

table, th, td {
    border: 1px solid salmon;
}

th, td {
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

a {
    border-radius: 4px;
    padding: 10px;
    background-color: beige;
    color: brown;
}

a:hover {
    background-color: aquamarine;
}

.footer {
    position: fixed;
    bottom: 0; /* Ganti top: 0; dengan bottom: 0; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    color: whitesmoke;
    padding: 10px;
    z-index: 1000;
}
