body {
    font-family: Arial, sans-serif;
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Agar tidak ada scrollbar */
}
.login-container {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.login-container h1 {
    color: darkcyan;
}
form {
    display: flex;
    flex-direction: column;
}
input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
input[type="submit"] {
    background-color: #ff0000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #b0019c;
    transition: 0.5s;
    transform: scale(1.1);
}